doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css')
    link(href='css/octicons.css' rel='stylesheet')
    link(href='css/animate.min.css' rel='stylesheet')
    link(href='css/main.css' rel='stylesheet')
  body
    .container
      .messages
        button#fadeOut Closing issues Across Repositories
        span.hide x hide this broadcast
        //- Esto seguro hay una mejor forma de hacerlo.
        span.info View <em>61</em> new broadcasts
      .repository
        header
          span.title_repository Your Repositories
          button.new_repository New repository
        main
          input(placeholder='Find a Repository...')
          .details
            header
              span All Repositories
              span Public
              span Private
              span Sources
              span Forks
            //- Insisto, debe de existir una mejor forma, la buscaré.
            div usuario/<em>Repo</em>
            div usuario/<em>Repo</em>
    script(src='js/jquery.min.js')
    script(src='js/main.js')
